version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.5.0-node
    steps:
      - checkout
      - run: echo "A first hello"
      - run: touch ~/.ssh/portfolio
      - run: echo $PRIVATE_KEY | base64 --decode --ignore-garbage > ~/.ssh/portfolio
      - run: chmod 400 ~/.ssh/portfolio
      - run: pyenv global 2.7.12
      - run: ssh $DOMAIN -i ~/.ssh/portfolio 'export PATH=$HOME/.rbenv/bin:$PATH; eval "$(rbenv init -)";sh /home/dracrowa/portfolio-desu/build.sh'