version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.5.0-node
    steps:
      - checkout
      - run: echo "A first hello"
      - run: touch ~/.ssh/portfolio
      - run: echo $PRIVATE_KEY | base64 --decode --ignore-garbage > ~/.ssh/portfolio
      - run: chmod 400 ~/.ssh/portfolio
      - run: ssh -o StrictHostKeyChecking=no $DOMAIN -i ~/.ssh/portfolio 'nohup; export PATH=$HOME/.rbenv/bin:$PATH; eval "$(rbenv init -)";sh /home/dracrowa/portfolio-desu/build.sh'