<h3>Demo A</h3>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="root"></div>
    </div>
  </div>
</div>
<script src="/scripts/root.bundle.js" type="text/javascript"></script>
